.iconbar {
  background-color: black; 
  padding: 10px;
  position: fixed; 
  top: 0;
  right: 0; 
  z-index: 1000; 
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  height: 60px; 
  width: 100%; 
}

.iconbar ul {
  list-style-type: none; 
  display: flex; 
  justify-content: flex-end; 
  margin: 0;
  padding: 0;
}

.iconbar ul li {
  margin: 10px 30px; 
}

.iconbar ul li img {
  width: 20px;  
  height: 20px;
  object-fit: contain;
  filter: brightness(0) invert(1); 
  transition: transform 0.3s ease, filter 0.3s ease;
}
.iconbar ul li img:hover {
  transform: scale(1.2); 
  filter: brightness(0.8) invert(1); 
}

.iconbar ul li img:active {
  transform: scale(0.9); 
  filter: brightness(1.2) invert(1); 
}
