.smallbusiness{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}
.smallbusinesstext{
    
    position:absolute;
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom: 20px;
    right: 0;
    background-color:rgba(253, 210, 229, 0.5);
    margin-right: 50px;
    width:400px;
    text-align: auto;
    
    
   
}