.hero{
    width:100%;
    min-height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.4)),url('../../assets/heropic.png');
    background-repeat: no-repeat;
    background-size: cover;  
    padding-top: 100px; 
    background-position:center;
    color:#cec2c4;
    align-items:center;
    justify-content: center;
    
}
.hero-text{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top: 250px;
}
.text{
    font-size: 60px;
    font-weight:600;
}
.btn img{
    width:20px;
    margin-left: 10px;
}
.btn:hover{
    transform: scale(1.1);
    background-color: rgba(251, 149, 193, 1);
}